@charset "UTF-8";

:root {
    --bs-blue            : #007bff;
    --bs-indigo          : #6610f2;
    --bs-purple          : #696cff;
    --bs-pink            : #e83e8c;
    --bs-red             : #ff3e1d;
    --bs-orange          : #fd7e14;
    --bs-yellow          : #ffab00;
    --bs-green           : #71dd37;
    --bs-teal            : #20c997;
    --bs-cyan            : #03c3ec;
    --bs-white           : #fff;
    --bs-gray            : rgba(67, 89, 113, 0.6);
    --bs-gray-dark       : rgba(67, 89, 113, 0.8);
    --bs-gray-25         : rgba(67, 89, 113, 0.025);
    --bs-gray-50         : rgba(67, 89, 113, 0.05);
    --bs-primary         : #696cff;
    --bs-secondary       : #8592a3;
    --bs-success         : #71dd37;
    --bs-info            : #03c3ec;
    --bs-warning         : #ffab00;
    --bs-danger          : #ff3e1d;
    --bs-light           : #fcfdfd;
    --bs-dark            : #233446;
    --bs-gray            : rgba(67, 89, 113, 0.1);
    --bs-primary-rgb     : 105, 108, 255;
    --bs-secondary-rgb   : 133, 146, 163;
    --bs-success-rgb     : 113, 221, 55;
    --bs-info-rgb        : 3, 195, 236;
    --bs-warning-rgb     : 255, 171, 0;
    --bs-danger-rgb      : 255, 62, 29;
    --bs-light-rgb       : 252, 253, 253;
    --bs-dark-rgb        : 35, 52, 70;
    --bs-gray-rgb        : 67, 89, 113;
    --bs-white-rgb       : 255, 255, 255;
    --bs-black-rgb       : 67, 89, 113;
    --bs-body-color-rgb  : 105, 122, 141;
    --bs-body-bg-rgb     : 245, 245, 249;
    --bs-font-sans-serif : "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --bs-font-monospace  : "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient        : linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-root-font-size  : 16px;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size  : 0.9375rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.53;
    --bs-body-color      : #697a8d;
    --bs-body-bg         : #f5f5f9;
}

:root {
    font-size: var(--bs-root-font-size);
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}



.layout-wrapper-2,
.layout-container-2 {
    width      : 100%;
    display    : flex;
    flex       : 1 1 auto;
    align-items: stretch;
}



.layout-content-navbar-2 .layout-page-2 {
    flex-basis    : 100%;
    flex-direction: column;
    width         : 0;
    min-width     : 0;
    max-width     : 100%;
}

.layout-content-navbar-2 .content-wrapper-2 {
    width: 100%;
}

.layout-container-2 {
    min-height: 100vh;
}

.layout-wrapper-2,
.layout-container-2 {
    width      : 100%;
    display    : flex;
    flex       : 1 1 auto;
    align-items: stretch;
}

.layout-page-2,
.content-wrapper-2,
.content-wrapper-2>*,
.layout-menu-2 {
    min-height: 1px;
}

.container-2,
.container-fluid-2,
.container-xxl-2,
.container-xl-2,
.container-lg-2,
.container-md-2,
.container-sm-2 {
    width        : 100%;
    padding-right: var(--bs-gutter-x, 1.625rem);
    padding-left : var(--bs-gutter-x, 1.625rem);
    margin-right : auto;
    margin-left  : auto;
}

@media (min-width: 1400px) {

    .container-xxl-2,
    .container-xl-2,
    .container-lg-2,
    .container-md-2,
    .container-sm-2,
    .container-2 {
        max-width: 1440px;
    }
}

.navbar-2>.container-2,
.navbar-2>.container-fluid-2,
.navbar-2>.container-sm-2,
.navbar-2>.container-md-2,
.navbar-2>.container-lg-2,
.navbar-2>.container-xl-2,
.navbar-2>.container-xxl-2 {
    display        : flex;
    flex-wrap      : inherit;
    align-items    : center;
    justify-content: space-between;
}

.container-2,
.container-fluid-2,
.container-sm-2,
.container-md-2,
.container-lg-2,
.container-xl-2,
.container-xxl-2 {
    padding-right: 1rem;
    padding-left : 1rem;
}

@media (min-width: 992px) {

    .container-2,
    .container-fluid-2,
    .container-sm-2,
    .container-md-2,
    .container-lg-2,
    .container-xl-2,
    .container-xxl-2 {
        padding-right: 1.625rem;
        padding-left : 1.625rem;
    }
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.container-p-y-2:not([class^=pt-]):not([class*=" pt-"]) {
    padding-top: 1.625rem !important;
}

.container-p-y-2:not([class^=pb-]):not([class*=" pb-"]) {
    padding-bottom: 1.625rem !important;
}

.row {
    --bs-gutter-x: 1.625rem;
    --bs-gutter-y: 0;
    display      : flex;
    flex-wrap    : wrap;
    margin-top   : calc(-1 * var(--bs-gutter-y));
    margin-right : calc(-0.5 * var(--bs-gutter-x));
    margin-left  : calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
    flex-shrink  : 0;
    width        : 100%;
    max-width    : 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left : calc(var(--bs-gutter-x) * 0.5);
    margin-top   : var(--bs-gutter-y);
}

.col {
    flex: 1 0 0%;
}

.row-cols-auto>* {
    flex : 0 0 auto;
    width: auto;
}

.row-cols-1>* {
    flex : 0 0 auto;
    width: 100%;
}

.row-cols-2>* {
    flex : 0 0 auto;
    width: 50%;
}

.row-cols-3>* {
    flex : 0 0 auto;
    width: 33.3333333333%;
}

.row-cols-4>* {
    flex : 0 0 auto;
    width: 25%;
}

.row-cols-5>* {
    flex : 0 0 auto;
    width: 20%;
}

.row-cols-6>* {
    flex : 0 0 auto;
    width: 16.6666666667%;
}

.col-auto {
    flex : 0 0 auto;
    width: auto;
}

.col-1 {
    flex : 0 0 auto;
    width: 8.33333333%;
}

.col-2 {
    flex : 0 0 auto;
    width: 16.66666667%;
}

.col-3 {
    flex : 0 0 auto;
    width: 25%;
}

.col-4 {
    flex : 0 0 auto;
    width: 33.33333333%;
}

.col-5 {
    flex : 0 0 auto;
    width: 41.66666667%;
}

.col-6 {
    flex : 0 0 auto;
    width: 50%;
}

.col-7 {
    flex : 0 0 auto;
    width: 58.33333333%;
}

.col-8 {
    flex : 0 0 auto;
    width: 66.66666667%;
}

.col-9 {
    flex : 0 0 auto;
    width: 75%;
}

.col-10 {
    flex : 0 0 auto;
    width: 83.33333333%;
}

.col-11 {
    flex : 0 0 auto;
    width: 91.66666667%;
}

.col-12 {
    flex : 0 0 auto;
    width: 100%;
}

@media (min-width: 768px) {
    .col-md {
        flex: 1 0 0%;
    }

    .row-cols-md-auto>* {
        flex : 0 0 auto;
        width: auto;
    }

    .row-cols-md-1>* {
        flex : 0 0 auto;
        width: 100%;
    }

    .row-cols-md-2>* {
        flex : 0 0 auto;
        width: 50%;
    }

    .row-cols-md-3>* {
        flex : 0 0 auto;
        width: 33.3333333333%;
    }

    .row-cols-md-4>* {
        flex : 0 0 auto;
        width: 25%;
    }

    .row-cols-md-5>* {
        flex : 0 0 auto;
        width: 20%;
    }

    .row-cols-md-6>* {
        flex : 0 0 auto;
        width: 16.6666666667%;
    }

    .col-md-auto {
        flex : 0 0 auto;
        width: auto;
    }

    .col-md-1 {
        flex : 0 0 auto;
        width: 8.33333333%;
    }

    .col-md-2 {
        flex : 0 0 auto;
        width: 16.66666667%;
    }

    .col-md-3 {
        flex : 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        flex : 0 0 auto;
        width: 33.33333333%;
    }

    .col-md-5 {
        flex : 0 0 auto;
        width: 41.66666667%;
    }

    .col-md-6 {
        flex : 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        flex : 0 0 auto;
        width: 58.33333333%;
    }

    .col-md-8 {
        flex : 0 0 auto;
        width: 66.66666667%;
    }

    .col-md-9 {
        flex : 0 0 auto;
        width: 75%;
    }

    .col-md-10 {
        flex : 0 0 auto;
        width: 83.33333333%;
    }

    .col-md-11 {
        flex : 0 0 auto;
        width: 91.66666667%;
    }

    .col-md-12 {
        flex : 0 0 auto;
        width: 100%;
    }

    .offset-md-0 {
        margin-left: 0;
    }

    .offset-md-1 {
        margin-left: 8.33333333%;
    }

    .offset-md-2 {
        margin-left: 16.66666667%;
    }

    .offset-md-3 {
        margin-left: 25%;
    }

    .offset-md-4 {
        margin-left: 33.33333333%;
    }

    .offset-md-5 {
        margin-left: 41.66666667%;
    }

    .offset-md-6 {
        margin-left: 50%;
    }

    .offset-md-7 {
        margin-left: 58.33333333%;
    }

    .offset-md-8 {
        margin-left: 66.66666667%;
    }

    .offset-md-9 {
        margin-left: 75%;
    }

    .offset-md-10 {
        margin-left: 83.33333333%;
    }

    .offset-md-11 {
        margin-left: 91.66666667%;
    }

    .g-md-0,
    .gx-md-0 {
        --bs-gutter-x: 0;
    }

    .g-md-0,
    .gy-md-0 {
        --bs-gutter-y: 0;
    }

    .g-md-1,
    .gx-md-1 {
        --bs-gutter-x: 0.25rem;
    }

    .g-md-1,
    .gy-md-1 {
        --bs-gutter-y: 0.25rem;
    }

    .g-md-2,
    .gx-md-2 {
        --bs-gutter-x: 0.5rem;
    }

    .g-md-2,
    .gy-md-2 {
        --bs-gutter-y: 0.5rem;
    }

    .g-md-3,
    .gx-md-3 {
        --bs-gutter-x: 1rem;
    }

    .g-md-3,
    .gy-md-3 {
        --bs-gutter-y: 1rem;
    }

    .g-md-4,
    .gx-md-4 {
        --bs-gutter-x: 1.5rem;
    }

    .g-md-4,
    .gy-md-4 {
        --bs-gutter-y: 1.5rem;
    }

    .g-md-5,
    .gx-md-5 {
        --bs-gutter-x: 3rem;
    }

    .g-md-5,
    .gy-md-5 {
        --bs-gutter-y: 3rem;
    }
}

.nav-2 {
    display      : flex;
    flex-wrap    : wrap;
    padding-left : 0;
    margin-bottom: 0;
    list-style   : none;
}

.layout-navbar-2,
.content-footer-2 {
    flex: 0 0 auto;
}

.layout-navbar-2 {
    position      : relative;
    padding-top   : 0.25rem;
    padding-bottom: 0.2rem;
    height        : 3.875rem;
    flex-wrap     : nowrap;
    color         : #697a8d;
    z-index       : 2;
}

.navbar-2 {
    position       : relative;
    display        : flex;
    flex-wrap      : wrap;
    align-items    : center;
    justify-content: space-between;
    padding-top    : 0.5rem;
    padding-bottom : 0.5rem;
}

.align-items-center {
    align-items: center !important;
}

.layout-navbar-2[class*=bg-]:not(.bg-navbar-theme-2) .nav-item .input-group-text,
.layout-navbar-2[class*=bg-]:not(.bg-navbar-theme-2) .nav-item .dropdown-toggle {
    color: #fff;
}

.layout-navbar-2 .navbar-nav-right-2 {
    flex-basis: 100%;
}

.d-flex {
    display: flex !important;
}

.navbar-collapse-2 {
    flex-basis : 100%;
    flex-grow  : 1;
    align-items: center;
}

.navbar-nav-2 {
    display       : flex;
    flex-direction: column;
    padding-left  : 0;
    margin-bottom : 0;
    list-style    : none;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item-2.show .nav-link {
    color           : #697a8d;
    background-color: #fff;
    border-color    : #fff;
}